{% extends 'base.html' %}

{% block content %}

<center><h2>Haight and Ashbury</h2></center>

<div class="container">

<div class="restaurants">
    <center><h3>Places to Eat</h3></center>
    {% for data in business_data %}
        <ul>
            <li><h4> {{ data.name }}</h4> <br>
                <a href="http://127.0.0.1:8000/{{ data.id }}">
                <img src="{{ data.image_url }}" style="width: 200px;height:200px;"/>
                </a>
            </li>
        </ul>
    {% endfor %}
</div>


<div class="places">
    <center><h3>Places to Visit</h3></center>

</div>

</div>
{% endblock %}
