{% extends 'base.html' %}
{% block content %}

<div class="dashcontainer">

    <div id="userprofile">

    </div>

    <h2> My Pins </h2>
    
    <hr>
    
    <div id="mypins">
        
    <div class="row">
    {% for pin in pins %}
        <div class="col-sm">
                {{ pin.name }} <br>
                
                <img src="{{ pin.image }}" style="width: 200px;height:200px;"/>
        </div>
    {% endfor %}
    
    </div>
    </div>

    <h2> My Trips </h2>
            <hr> 
    <div id="mytrips">
        <div class="row">
            {% for trip in trips %}
                <div class="col-sm">
        
                        {{ trip.saved_pin.name }} <br>
                        
                        <img src="{{ trip.saved_pin.image }}" style="width: 200px;height:200px;"/>
                </div> 
            {% endfor %}
    </div>
    </div>

</div>

{% endblock %}