{% extends 'base.html' %}

{% block content %}

<h2> {{ biz.name }} </h2>

{% for photos in biz.photos %}

    <img src="{{ photos }}" style="width: 200px;height:200px;"/>

{% endfor %}

<p> Address: {{ biz.location.display_address }} </p>

<form action = "{% url 'local_app:save_pins' biz.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Save to My Pins" name="save_pins"/> 
</form>

    <a href="#" class="btn btn-success" role="button" aria-pressed="true"> Add To My Trips </a>


{% endblock %}