{% extends 'base.html' %}
{% block content %}



    <h2> My Pins </h2>

    <hr>
    
    {% for pin in pins %}
        <ul>
            <li>
                {{ pin.name }} <br>
                
                <img src="{{ pin.image }}" style="width: 200px;height:200px;"/>

                <br>

                
                    <input type="submit" value="Add To Trip" name="add_trip" id="myBtn"/> 
                
                
                <br>

                <a href="{% url 'local_app:remove_pins' pin.id %}" class="btn btn-danger" role="button" aria-pressed="true">Remove Pin</a>

                
            </li>
        </ul>
    {% endfor %}
    
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Add to..</p>
        <select multiple id="waypoints">
            <option value="montreal, quebec">Montreal, QBC</option>
            <option value="toronto, ont">Toronto, ONT</option>
            <option value="chicago, il">Chicago</option>
            <option value="winnipeg, mb">Winnipeg</option>
            <option value="fargo, nd">Fargo</option>
            <option value="calgary, ab">Calgary</option>
            <option value="spokane, wa">Spokane</option>
          </select>
    </div>
</div>


{% endblock %}