{% extends 'base.html' %}
{% block content %}



    <h2> My Pins </h2>

    <hr>
    
    {% for pin in pins %}
        <ul>
            <li>
                {{ pin.name }} <br>
                
                <img src="{{ pin.image }}" style="width: 200px;height:200px;"/>

                <br>

                <form action = "{% url 'local_app:add_trip' pin.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Add To Trip" name="add_trip" id="myBtn"/> 
                </form>
                
                <br>

                <a href="{% url 'local_app:remove_pins' pin.id %}" class="btn btn-danger" role="button" aria-pressed="true">Remove Pin</a>

                
            </li>
        </ul>
    {% endfor %}
    
<!-- <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Add to..</p>
        <select name="trip_names" onchange='checkTrips(this.value);'>
            <option> Add Pin To </option>
            <option value="new_trip"> Create New Trip </option>
          </select>
        
        <input type="text" name="new_trip" id="new_trip" style='display:none;'/>
    </div>
</div> -->




{% endblock %}