{% extends 'base.html' %}



{% block content %}

<div class ="row">

<div id="right-panel" class="col">
    <strong>Start:</strong>
    
    <select id="start">
        {% for trip in trips %}
      <option value="{{ trip.saved_pin.address }}">{{ trip.saved_pin.name }}</option>
      {% endfor %}
    </select>
    
    <strong>Along Your Route:</strong>
    <select multiple id="waypoints">
        {% for trip in trips %}
        <option value="{{ trip.saved_pin.address }}">{{ trip.saved_pin.name }}</option>
        {% endfor %}
    </select>

    <br />

    <strong>End:</strong>
    <select id="end">
        {% for trip in trips %}
      <option value="{{ trip.saved_pin.address }}">{{ trip.saved_pin.name }}</option>
      {% endfor %}
    </select>
    <br />

    <strong>Travel Modes</strong>
    <select id="mode">
      <option value="DRIVING">DRIVING</option>
      <option value="BICYCLING">BICYCLING</option>
      <option value="WALKING">WALKING</option>
    </select>
    
    <br />
<input type="submit" id="submit" />
</div>

<div id="map" class="col-5"></div>

<div id="directions-panel" class="col"></div>

</div>

{% endblock %}