{% extends 'base.html' %}



{% block content %}

<div class="mytripcontainer">
    <div id="mytriplist">
    <h2> My Trips </h2>

    {% for trip in trips %}
        <ul>
            <li draggable="true" ondragstart="dragStarted(event)" ondragover="draggingOver(event)" ondrop="dropped(event)" >
                {{ trip.saved_pin.name }} <br>
                
                <img src="{{ trip.saved_pin.image }}" style="width: 50px;height:50px;"/>

                {{ trip.saved_pin.address }}
                <br>
                <a href="{% url 'local_app:remove_trip' trip.id %}">Remove Pin</a>
                
            </li>
        </ul>

    {% endfor %}
    
    </div>

       
    <div id="map"></div>



</div>

{% endblock %}
